
#cust
{
    background-image: url("image5.jpg");
    float:left;
    background-repeat: no-repeat;
    height: auto;
    width: 1300px;
    margin-left: 100px;
    margin-right: 50px;
    background-size:100%;
    margin-top: 2px;
    padding-left: 10px;
    padding-top: 10px;
}
.text
{
    text-align: center;
}


.pad
{
    padding-left: 50px;
    font-size: 20px;
    color: brown;
}
.pad1{
    padding-left: 50px;
    font-size: 15px;
    color: brown;

}
.pad2{

    text-shadow: 3px 4px 16px black;
    font-size: 35px;
    color: brown;
    position:relative;
    top:-30px;
}
.button4{
    width: 213px;
    height: 50px;
    opacity: 0.8;
}
.book{
    background-image: url("image5.jpg");
    background-repeat: no-repeat;
    height: auto;
    margin-left: 317px;
    margin-right: 50px;
    background-size: 100% 150%;

    width: 655px;
}
.book2 {
    width: 213px;
    height: 50px;
    margin-left: 51px;
    opacity:0.8;
    margin-top: 20px;

}
.logo {

    height: 440px;
    position: relative;
    -webkit-animation: mymove 10s infinite;
    animation: mymove 10s infinite;
    animation-direction: alternate;

}

@-webkit-keyframes mymove {
    from {left: -250px;}
    to {left: 300px;}
}
@keyframes mymove {
    from {left: -250px;}
    to {left: 300px;}
}
.logo:hover{
    animation-play-state: paused;
}
.circular{
    height:440px;
    width:570px;
    border-radius:50%;
    background-image: url("owner.jpg");
    position: relative;
    left: 170px;
    top: 150px;
}

.element {
    position: relative;
    top: -90px;
    left: 300px;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 6px 4px black;
    color: wheat;
}
.big{
    height: 400px;
    width: 575px;
    position: relative;

    top: -70px;
    left: 600px;
    padding: 10px;
}
.element1 {
    transform: rotate(-90deg);
    text-align: center;
    color: white;
    font-size: 70px;
    margin-top: 175px;
}
iframe {
    width: 75%;
    height: 99%;
    float: right;
    border: 0px;
}
.box5{
height: 570px;
width: 321px;
top: 15px;
left: 20px;
padding-top: 30px;
background-color: #2C1608;
float: left;
}
.image{
    height:270px;
    width:240px;
    display: inline;
}
.box6 {
    width: 1300px;
    height: 600px;
    background-image: url("1.jpg");
}
.button:hover,.button1:hover,.button2:hover {
    background-color: white;
    opacity:1;
}
.font:hover,#font1:hover{
    opacity:0.5;
}
.scr{
    color: wheat;
text-shadow: 3px 4px 4px black;
}
.src2{
    color: black;
    text-shadow: 3px 4px 4px white;
}
.logo1{

    position: relative;
    top: -150px;
    -webkit-animation: mymove1 10s infinite;
    animation: mymove1 10s infinite;
    animation-direction: alternate;

}
@-webkit-keyframes mymove1 {
    from {right: -250px;}
    to {right: 300px;}
}
@keyframes mymove1 {
    from {right: -250px;}
    to {right: 300px;}
}
.footer1{
    height: 150px;
    background-color: rgba(0, 0, 0, 0.51);
    margin-left: -105px;
}
.r1{
    width: 1300px;
    text-align: center;
    color:  #C36D37;
    text-shadow: 2px 2px 4px #000000;
}
.boxes {
    width: 1300px;
    height: 410px;
    background-image: url("1.jpg");
    margin-top: -20px;
    margin-left: 100px;
}
.image1{
    height: 400px;
    width: 400px;
    border: 5px solid #B67B49;
}
.section5 {
    height: 450px;
    margin-top: 0;
}
.footer1 {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.51);
    margin-top: 25px;
}
.textnew{
    line-height: 40px;
padding-top:60px;
    text-align: center;
    color: red;
}
